body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8b008b;
}

.link {
  margin-top: 10px;
  width: 1024px;
  height: 768px;
}

.link img {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: none;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: none;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d2691e;
}
